NAME_SECRET_KEY=change-me-to-a-real-secret-key
NAME_DEBUG=False
NAME_ALLOWED_HOSTS=localhost,127.0.0.1,.iyou.me
DATABASE_URL=postgres://macuser@localhost:5432/iyou_name

# OIDC (Sovereign Auth)
OIDC_RP_CLIENT_ID="BLANK"
OIDC_RP_CLIENT_SECRET="OMITTED"
OIDC_OP_AUTHORIZATION_ENDPOINT=http://127.0.0.1:8000/openid/authorize/
OIDC_OP_TOKEN_ENDPOINT=http://127.0.0.1:8000/openid/token/
OIDC_OP_USER_ENDPOINT=http://127.0.0.1:8000/openid/userinfo/
OIDC_OP_JWKS_ENDPOINT=http://127.0.0.1:8000/openid/jwks/
OIDC_RP_CALLBACK_URL=http://127.0.0.1:8003/oidc/callback/
