{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    {% include 'core/components/individual_header.html' %}
    {% if is_home_person %}
    <div class="alert alert-info mt-3">
        This is your selected "Home Person" for this GEDCOM file.
    </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title fs-2">{{ individual.full_name }}</h3>
                <div>
                    <form method="post" class="d-inline" action="{% url 'hud:display_tree' %}">
                        {% csrf_token %}
                        <input type="hidden" name="individual_id" value="{{ individual.id }}">
                        <input type="hidden" name="file_id" value="{{ file_id }}">
                        <button type="submit" class="btn btn-primary">
                            Generate Family Tree
                        </button>
                    </form>
                    <form method="post" class="d-inline ms-2" action="{% url 'selector:confirm_selection' file_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="individual_id" value="{{ individual.id }}">
                        <input type="hidden" name="action" value="set_home">
                        <button type="submit" class="btn btn-secondary">
                            <i class="bi bi-person-check"></i> Set Home Person
                        </button>
                    </form>
                </div>
            </div>

            {% include 'core/components/basic_info.html' %}
            {% include 'core/components/locations.html' %}
            {% include 'core/components/family_info.html' %}
            {% include 'core/components/back_button.html' %}
        </div>
    </div>
    </div>

    
    {% endblock %}
